<a href="https://colab.research.google.com/github/Tasinato/Estudos-Python/blob/main/Python_M1_support_material01_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [ ]:
print("Olá mundo!")

---

Crie uma célua de texto e adicione uma imagem.

In [24]:
from PIL import Image
import csv
imag = Image.open(r'/media/PHOTO.jpg')
imag.show()
print(imag)

<PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=1200x1600 at 0x7F0B09FD3F10>

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [29]:
# (A)print(320.52*3)
print(f'O valor de (A) é, {320.52*3}')

O valor de (A) é, 961.56

In [30]:
# (B) print(834.47/119.21)
print(f'O valor de (B) é, {int(834.47/119.21)}')

O valor de (B) é, 7

In [32]:
# (C) print(15378.12 / 5)
print(f'O valor de (C) é, {round(15378.12 / 5,2)}')

O valor de (C) é, 3075.62

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [31]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
Ucancao = cancao.upper()
print(Ucancao)
IUcancao = Ucancao.isupper()
print(IUcancao)
EWcancao = cancao.endswith('roda pião.')
print(EWcancao)

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
True
True

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [17]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'
selic = noticia[12:16]
ano   = noticia[-7] 
print(f'Selic {selic} após {ano} anos.')

Selic 2,75 após 6 anos.

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [10]:
a = False
b = True

x = not a & b

#O RESULTADO DE X é VERDADEIRO. POIS "A" É FALSO E "B" É VERDADEIRO ENTÃO "x" IRA RECEBER NÃO "A" E "B"SENDO "B" VERDADEIRO E NEGAÇÃO DE "A" É VERDADE.
#SENDO A E B VERDADE, O RESULTADO É VERDADEIRO.

True